boto3==1.4.4
botocore==1.5.95
click==6.7
docutils==0.14
Flask==1.0.2
flask-cors
itsdangerous==0.24
Jinja2>=2.10.1
jmespath==0.9.3
MarkupSafe==1.0
pycurl==7.43.0
python-dateutil==2.7.3
requests
s3transfer==0.1.13
six==1.11.0
tenacity==4.12.0
virtualenv==16.0.0
Werkzeug==0.14.1
yapf==0.16.1
